// Define variables for your color scheme

// For example:
$red: #FF5A5F;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #FC642D;
$green: #00A699;
$gray: #484848;
$dark-gray: #767676;
$light-gray: #F4F4F4;
