<div class="footer">
  <div class="footer-links">

    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This site was made by <a href="https://github.com/ezepdc" target="_blank">Ezequiel Puyos da Costa</a> <a href="https://github.com/ezepdc" target="_blank"><i class="fab fa-github"></i></a>
  </div>
</div>
